<h1>
  Edit book #<%= @book.id %>
</h1>

<hr>

<form action="/update_book/<%= @book.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @book.name %>">
  </div>

  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <%= select_tag(:author_id, options_from_collection_for_select(User.all, :id, :email, @book.author_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="publish_date">
      Publish date
    </label>

    <input type="text" id="publish_date" name="publish_date" class="form-control" value="<%= @book.publish_date %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update book
  </button>
</form>

<hr>

<a href="/books">
  Go back
</a>
