<h1>
  Edit photo #<%= @photo.id %>
</h1>

<hr>

<form action="/update_photo/<%= @photo.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="img">
      Img
    </label>

    <%= cl_image_tag(@photo.img.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="img" name="img" class="form-control">
  </div>

  <div class="form-group">
    <label for="loc">
      Loc
    </label>

    <input type="text" id="loc" name="loc" class="form-control" value="<%= @photo.loc %>">
  </div>

  <div class="form-group">
    <label for="book_id">
      Book
    </label>

    <%= select_tag(:book_id, options_from_collection_for_select(Book.all, :id, :name, @photo.book_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
