<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Visitor entry #<%= @visitor_entry.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/visitor_entries" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @visitor_entry.user %>
          <a href="/visitor_entries/<%= @visitor_entry.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit visitor_entry
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @visitor_entry.user %>
          <a href="/delete_visitor_entry/<%= @visitor_entry.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete visitor_entry
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Visit date
      </dt>
      <dd>
        <%= @visitor_entry.visit_date %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @visitor_entry.user.present? %>
          <a href="/users/<%= @visitor_entry.user_id %>">
            <%= @visitor_entry.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <% if @visitor_entry.book.present? %>
          <a href="/books/<%= @visitor_entry.book_id %>">
            <%= @visitor_entry.book.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@visitor_entry.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@visitor_entry.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

